<p>&copy; {{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}">{{ site.author }}</a> {{ site.icon }}</p>

<nav>
  {% for item in site.nav %}
  <a href="{{ item.link | prepend: site.baseurl | prepend: site.url }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav>

{% if site.goatcounter %}
<script data-goatcounter="https://{{ site.goatcounter }}.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<noscript>
    <img src="https://{{ site.goatcounter }}.goatcounter.com/count?p=/ns">
</noscript>
{% endif %}