---
layout: default
---
<h2>{{ page.title }}</h2>
{% if page.description %}<div class="notice">{{ page.description }}</div>{% endif %}
{% if page.show %}<img alt="{{ page.alt }}" src="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
{{ content }}
{% if page.date %}<cite>Updated on {{page.date | date: "%B %d, %Y"}}</cite><p><hr></p>{% endif %}
{% if page.previous.url %}&laquo; <a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}">{{ page.previous.title }}</a>{% endif %}
{% if page.next.url %}<div class="next"><a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">{{ page.next.title }}</a> &raquo;</div>{% endif %}