---
layout: default
---
<h2>{{ page.title }}</h2>
{% if page.description %}<div class="notice">{{ page.description }}</div>{% endif %}
{% if page.show %}<img alt="{{ page.alt }}" src="{{ page.image | prepend: site.baseurl | prepend: site.url }}">{% endif %}
{{ content }}
{% if page.date %}<cite>Posted on {{page.date | date: "%B %d, %Y"}}</cite>{% endif %}
<p>{% if page.previous.url %}<a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}">&laquo; {{ page.previous.title }}</a>{% endif %}
{% if page.next.url %}<a class="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">{{ page.next.title }} &raquo;</a>{% endif %}</p>